/******************************************************************************************************
        Forneden er der nogle justeringer der får boilerplaten til at ligne MAMs design.
******************************************************************************************************/

h1 {
    margin: 40px 0px;
    line-height: 1em;
}

h2 {
    margin: 30px 0px 20px 0px;
    line-height: 1em;
}

h4 {
    margin: 0px;
    line-height: 1em;
}

.markering:hover {
    text-decoration: underline;
}

.word {
    cursor: pointer;
}

.word:hover {
    border-radius: 2px;
    background-color: #ccc;
}

.word_selected {
    border-radius: 2px;
    color: white;
    background-color: #aaa;
    height: 4px;
}

.box, .dropout {
    /* height: 20px; */
    background: red;
    margin-right: 5px;
    border-radius: 2px;
    font-size: 16px;
    padding: 2px 2px 2px 10px;
    margin-top: 2px;
}

.drop_spm {
    text-align: center;

}

.span_score {
    color: black;
    /* margin-left: 50px; */
    right: 25%;
    position: absolute;
}

.drop_right{
    padding:20px;
}

.dropout:hover {
    font-weight: bold;
    color: #999;
    text-shadow: 2px;
}

.klasse_container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tekst_container {
    overflow: auto;
    border-radius: 8px;
    padding: 20px;
    height: 550px;
    box-shadow: 1px 2px 10px #888888;
    background-color: #fff;
    margin-top: 20px;
}

.dropout_container {
    position: absolute;
    z-index: 1;
    background-color: rgba(235, 235, 235, .9);
    /* border:1px solid black; */
    padding: 0px 0px 12px 12px;
    border-radius: 4px;
}

.close_dropout:hover {
    background-color: black;
    color: white;
}

.close_dropout {
    position: absolute;
    border-radius: 26px;
    right: 2px;
    /* border: 1px solid black; */
    background-color: white;
    height: 14px;
    padding: 0px;
    line-height: 0.8;
    font-size: 14px;
    width: 13px;
    padding-left: 3px;
    top: 2px;
    cursor: pointer;
    font-weight: bolder;
}

.box_select {
    /* display: inline-flex; */
    /* margin-right: 20px; */
    width: 80%;
}

.markering {
    cursor: pointer;
    border-radius: 4px;
}

.blurry {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
